<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#user_side" data-toggle="collapse" aria-expanded="false" aria-controls="user_side">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">用户管理</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user_side">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/index">用户信息管理</a></li>
                    <li class="nav-item"><a class="nav-link" href="/company/index">公司信息管理</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">登记分数信息</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#audit_side" data-toggle="collapse" aria-expanded="false" aria-controls="audit_side">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">审核分数信息</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="audit_side">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="">审核</a></li>
                    <li class="nav-item"><a class="nav-link" href="">协助审核</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../static/pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">审批分数信息</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#query_side" data-toggle="collapse" aria-expanded="false" aria-controls="query_side">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">信息查询</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="query_side">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="">会计人员信息查询</a></li>
                    <li class="nav-item"><a class="nav-link" href="">单位信息查询</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analyze_side" data-toggle="collapse" aria-expanded="false" aria-controls="analyze_side">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">统计分析</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="analyze_side">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="">会计人员积分预警名单</a></li>
                    <li class="nav-item"><a class="nav-link" href="">年度档案名单</a></li>
                    <li class="nav-item"><a class="nav-link" href="">计分项目统计</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>