<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>用户管理</title>
        <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
        <script src="../static/js/jquery-3.3.1.js"></script>
        <script src="../static/js/jquery.dataTables.js"></script>
        <script src="../static/vendors/base/vendor.bundle.base.js"></script>
        <script src="../static/js/off-canvas.js"></script>
        <script src="../static/js/hoverable-collapse.js"></script>
        <script src="../static/js/template.js"></script>
        <script src="../static/js/common.js"></script>
    </head>
    
    <body>
        <div class="container-scroller">
            <div id="top"></div>
            <div class="container-fluid page-body-wrapper">
                <div id="side"></div>
                <script>
                    $("#top").load("../common/top.html");
                    $("#side").load("../common/side.html");
                </script>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新增公司</font></font></h4>
                            <p class="card-description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            </font></font></p>
                            <form class="forms-sample" action="/user/addUser" method="post">
                                <div class="form-group">
                                    <label for="exampleInputCompanyname1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">公司名称</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputCompanyname1" placeholder="公司名称">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputContact1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">法人</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputContact1" placeholder="法人">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputtelephone1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系电话</font></font></label>
                                    <input type="password" class="form-control" id="exampleInputtelephone1" placeholder="联系电话">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUSCC"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">社会统一信用代码</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputUSCC" placeholder="社会统一信用代码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputaddress"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">地址</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputaddress" placeholder="地址">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRegistered"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册资金</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputRegistered" placeholder="注册资金">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputBusiness"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">经营范围</font></font></label>
                                    <input type="text" class="form-control" id="exampleInputBusiness" placeholder="经营范围">
                                </div>
                                <button type="submit" class="btn btn-primary mr-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">提交</font></font></button>
                                <button class="btn btn-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
