<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Company index</h1>-->
<!--    <form action="/company/index" method="post">-->
<!--        <p>Query Company</p>-->
<!--        <input type="text" id="id" name="id" placeholder="id">-->
<!--        <button type="submit" name="submit">提交</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>公司管理</title>
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.png"/>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/jquery.dataTables.js"></script>
    <script src="../static/vendors/base/vendor.bundle.base.js"></script>
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/template.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="../static/index.html"><img src="../static/images/logo.svg" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="../static/index.html"><img src="../static/images/logo-mini.svg" alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown mr-1">
                    <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-message-text mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="../static/images/faces/face4.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">David Grey
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="../static/images/faces/face2.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">Tim Cook
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    New product launch
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="../static/images/faces/face3.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal"> Johnson
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    Upcoming board meeting
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-success">
                                    <i class="mdi mdi-information mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-warning">
                                    <i class="mdi mdi-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-info">
                                    <i class="mdi mdi-account-box mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="../static/images/faces/face5.jpg" alt="profile"/>
                        <span class="nav-profile-name">Admin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="mdi mdi-settings text-primary"></i>
                            设置
                        </a>
                        <a class="dropdown-item">
                            <i class="mdi mdi-logout text-primary"></i>
                            退出登录
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#user_side" data-toggle="collapse" aria-expanded="false" aria-controls="user_side">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">用户管理</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="user_side">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/user/index">用户信息管理</a></li>
                            <li class="nav-item"><a class="nav-link" href="/company/index">公司信息管理</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        <i class="mdi mdi-circle-outline menu-icon"></i>
                        <span class="menu-title">登记分数信息</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#audit_side" data-toggle="collapse" aria-expanded="false" aria-controls="audit_side">
                        <i class="mdi mdi-view-headline menu-icon"></i>
                        <span class="menu-title">审核分数信息</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="audit_side">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">审核</a></li>
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">协助审核</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../static/pages/charts/chartjs.html">
                        <i class="mdi mdi-chart-pie menu-icon"></i>
                        <span class="menu-title">审批分数信息</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#query_side" data-toggle="collapse" aria-expanded="false" aria-controls="query_side">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">信息查询</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="query_side">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">会计人员信息查询</a></li>
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">单位信息查询</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#analyze_side" data-toggle="collapse" aria-expanded="false" aria-controls="analyze_side">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">统计分析</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="analyze_side">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">会计人员积分预警名单</a></li>
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">年度档案名单</a></li>
                            <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">计分项目统计</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">公司管理</h4>
                                <p class="card-description">
                                    <a href="javascript:void(0)"><span>添加公司</span></a>
                                </p>
                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered" id="_table">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>公司名称</th>
                                            <th>法人</th>
                                            <th>联系电话</th>
                                            <th>社会统一信用代码</th>
                                            <th>地址</th>
                                            <th>注册资金</th>
                                            <th>经营范围</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="init-tr" th:each="resource, state : ${data}" th:data-id="${resource.companyid}">
                                            <td th:text="${state.index+1 < 10 ? '0'+(state.index+1):(state.index+1)}"></td>
                                            <td th:text="${resource.name}"></td>
                                            <td th:text="${resource.contact}"></td>
                                            <td th:text="${resource.telephone}"></td>
                                            <td th:text="${resource.USCC}"></td>
                                            <td th:text="${resource.address}"></td>
                                            <td th:text="${resource.registered}"></td>
                                            <td th:text="${resource.business}"></td>
                                            <td>
                                                <a href="/company/edit">
                                                    <button class="btn btn-outline-primary btn-fw">修改</button>
                                                </a>
                                                <a href="/company/delete">
                                                    <button class="btn btn-outline-danger btn-fw">删除</button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function editUser(obj) {
        var companyId = $(obj).closest('tr').attr("data-id");
        location.href = "/company/edit?companyId=" + companyId;
    }

</script>
</body>
</html>