<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>add user</h1>
    <form method="post" action="/user/adduser">
        <p>adduser</p>
        <p>id:</p><input type="text" id="id" name="id" placeholder="id"><br>
        <p>name:</p><input type="text" id="name" name="name" placeholder="name"><br>
        <p>password:</p><input type="password" id="password" name="password" placeholder="password"><br>

        <button type="submit" name="submit">提交</button>
    </form>
</body>
</html>