<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>用户管理</title>
        <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
        <link rel="stylesheet" href="../static/css/common.css">
        <script src="../static/js/jquery-3.3.1.js"></script>
        <script src="../static/js/jquery.dataTables.js"></script>
        <script src="../static/vendors/base/vendor.bundle.base.js"></script>
        <script src="../static/js/off-canvas.js"></script>
        <script src="../static/js/hoverable-collapse.js"></script>
        <script src="../static/js/template.js"></script>
        <script src="../static/js/common.js"></script>
        <script src="../static/js/jquery.validate.min.js"></script>
        <script src="../static/js/bootbox.all.min.js"></script>
    </head>
    
    <body>
        <div class="container-scroller">
            <div id="top"></div>
            <div class="container-fluid page-body-wrapper">
                <div id="side"></div>
                <script>
                    $("#top").load("../common/top.html");
                    $("#side").load("../common/side.html");
                </script>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新增用户</font></font></h4>
                            <p class="card-description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            </font></font></p>
                            <form class="forms-sample" id="user_form">
                                <div class="form-group">
                                    <label for="exampleInputUsername"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">账户名</font></font></label>
                                    <input type="text" class="form-control" name="exampleInputUsername" id="exampleInputUsername" placeholder="账户名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">密码</font></font></label>
                                    <input type="password" class="form-control" name="exampleInputPassword" id="exampleInputPassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">确认密码</font></font></label>
                                    <input type="password" class="form-control" name="exampleInputConfirmPassword" id="exampleInputConfirmPassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户姓名</font></font></label>
                                    <input type="text" class="form-control" name="exampleInputName" id="exampleInputName" placeholder="用户姓名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSEX"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">性别</font></font></label>
                                    <select class="form-control" id="exampleInputSEX" name="exampleInputSEX" placeholder="性别">
                                        <option selected>--请选择--</option>
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEDU"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学历</font></font></label>
                                    <select class="form-control" name="exampleInputEDU" id="exampleInputEDU" placeholder="学历">
                                        <option selected>--请选择--</option>
                                        <option value="0">高中</option>
                                        <option value="1">大专</option>
                                        <option value="2">本科</option>
                                        <option value="3">硕士</option>
                                        <option value="4">博士</option>
                                        <option value="5">博士后</option>
                                        <option value="6">其他</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputDuty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是否在职</font></font></label>
                                    <select class="form-control" name="exampleInputDuty" id="exampleInputDuty" placeholder="是否在职">
                                        <option selected>--请选择--</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputCompany"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">所属公司</font></font></label>
                                    <select class="form-control" name="exampleInputCompany" id="exampleInputCompany" placeholder="所属公司" th:each="company:${company}">
                                        <option selected>--请选择--</option>
                                        <option th:value="${company.companyid}" th:text="${company.companyname}"></option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary mr-2" onclick="goSummit()"><font style="vertical-align: inherit;" onclick="goSummit()"><font style="vertical-align: inherit;">提交</font></font></button>
                                <a href="/user/index"><button type="button" class="btn btn-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<input id="companyListData" type="hidden" th:value="${company}">-->
        <script >

            $(function () {
                Validate.validateForm("user_form");
                // var companyList = JSON.parse(decodeURI($('#companyListData').val()));
            });

            function goSummit() {
                if ($("#exampleInputUsername").val() && $("#exampleInputPassword").val() && $("#exampleInputName").val() && $("#exampleInputSEX").val() && $("#exampleInputEDU").val() && $("#exampleInputDuty").val()) {
                    $.ajax({
                        url: "/user/add",
                        type: 'post',
                        data: JSON.stringify({
                            username: $("#exampleInputUsername").val(),
                            password: $("#exampleInputPassword").val(),
                            name: $("#exampleInputName").val(),
                            sex: $("#exampleInputSEX").val(),
                            edu: $("#exampleInputEDU").val(),
                            duty: $("#exampleInputDuty").val(),
                            company: $("#exampleInputCompany").val()
                        }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log(data)
                            if (data.code == 0) {
                                location.href = "/user/index";
                            } else {
                                bootbox.alert({
                                    size: "small",
                                    title: "错误信息",
                                    message: data.message,
                                    callback: function () {

                                    }
                                })
                            }
                        }
                    })
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "错误信息",
                        message: "参数不能为空",
                        callback: function () {

                        }
                    })
                }
            }

            var Validate = function () {
                var handlerValidate = function (formId, rules) {
                    $("#" + formId).validate({
                        errorElement: 'span',
                        errorClass: 'errorInfo',
                        errorPlacement: function (error, element) {
                            element.parent().parent().attr("class", "form-group has-error");
                            error.insertAfter(element);
                        },
                        rules: {
                            exampleInputUsername: {
                                required: true
                            },
                            exampleInputPassword: {
                                required: true
                            },
                            exampleInputConfirmPassword: {
                                required: true,
                                equalTo: "#exampleInputPassword"
                            },
                            exampleInputName: {
                                required: true
                            },
                            exampleInputSEX: {
                                required: true
                            },
                            exampleInputEDU: {
                                required: true
                            },
                            exampleInputDuty: {
                                required: true
                            },
                            exampleInputCompany: {
                                required: true
                            }
                        }
                    });
                };

                return {
                    validateForm: function (formId, rules) {
                        handlerValidate(formId, rules);
                    }
                }
            }();
        </script>
    </body>
</html>
