<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>用户管理</title>
        <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
        <link rel="shortcut icon" href="../static/images/favicon.png"/>
        <link rel="stylesheet" href="../static/css/common.css">
        <script src="../static/js/jquery-3.3.1.js"></script>
        <script src="../static/js/jquery.dataTables.js"></script>
        <script src="../static/vendors/base/vendor.bundle.base.js"></script>
        <script src="../static/js/off-canvas.js"></script>
        <script src="../static/js/hoverable-collapse.js"></script>
        <script src="../static/js/template.js"></script>
        <script src="../static/js/common.js"></script>
        <script src="../static/js/jquery.validate.min.js"></script>
        <script src="../static/js/bootbox.all.min.js"></script>
    </head>
    
    <body>
        <div class="container-scroller">
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex justify-content-center">
                    <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                        <a class="navbar-brand brand-logo" href="/user/index.html"></a>
                        <a class="navbar-brand brand-logo-mini" href="/user/index.html"></a>
                        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="mdi mdi-sort-variant"></span>
                        </button>
                    </div>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <span class="nav-profile-name" id="tokenName"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    退出登录
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="container-fluid page-body-wrapper">
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#user_side" data-toggle="collapse" aria-expanded="false" aria-controls="user_side">
                                <i class="mdi mdi-home menu-icon"></i>
                                <span class="menu-title">用户管理</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="user_side">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="/user/index">用户信息管理</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/company/index">公司信息管理</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                                <i class="mdi mdi-circle-outline menu-icon"></i>
                                <span class="menu-title">登记分数信息</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#audit_side" data-toggle="collapse" aria-expanded="false" aria-controls="audit_side">
                                <i class="mdi mdi-view-headline menu-icon"></i>
                                <span class="menu-title">审核分数信息</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="audit_side">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">审核</a></li>
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">协助审核</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../static/pages/charts/chartjs.html">
                                <i class="mdi mdi-chart-pie menu-icon"></i>
                                <span class="menu-title">审批分数信息</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#query_side" data-toggle="collapse" aria-expanded="false" aria-controls="query_side">
                                <i class="mdi mdi-grid-large menu-icon"></i>
                                <span class="menu-title">信息查询</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="query_side">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">会计人员信息查询</a></li>
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">单位信息查询</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#analyze_side" data-toggle="collapse" aria-expanded="false" aria-controls="analyze_side">
                                <i class="mdi mdi-emoticon menu-icon"></i>
                                <span class="menu-title">统计分析</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="analyze_side">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/buttons.html">会计人员积分预警名单</a></li>
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">年度档案名单</a></li>
                                    <li class="nav-item"><a class="nav-link" href="../static/pages/ui-features/typography.html">计分项目统计</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新增用户</font></font></h4>
                            <p class="card-description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            </font></font></p>
                            <form class="forms-sample" id="user_form">
                                <div class="form-group">
                                    <label for="exampleInputUsername"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">账户名</font></font></label>
                                    <input type="text" class="form-control" name="exampleInputUsername" id="exampleInputUsername" placeholder="账户名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">密码</font></font></label>
                                    <input type="password" class="form-control" name="exampleInputPassword" id="exampleInputPassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">确认密码</font></font></label>
                                    <input type="password" class="form-control" name="exampleInputConfirmPassword" id="exampleInputConfirmPassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户姓名</font></font></label>
                                    <input type="text" class="form-control" name="exampleInputName" id="exampleInputName" placeholder="用户姓名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSEX"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">性别</font></font></label>
                                    <select class="form-control" id="exampleInputSEX" name="exampleInputSEX" placeholder="性别">
                                        <option selected>--请选择--</option>
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEDU"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学历</font></font></label>
                                    <select class="form-control" name="exampleInputEDU" id="exampleInputEDU" placeholder="学历">
                                        <option selected>--请选择--</option>
                                        <option value="0">高中</option>
                                        <option value="1">大专</option>
                                        <option value="2">本科</option>
                                        <option value="3">硕士</option>
                                        <option value="4">博士</option>
                                        <option value="5">博士后</option>
                                        <option value="6">其他</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputDuty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是否在职</font></font></label>
                                    <select class="form-control" name="exampleInputDuty" id="exampleInputDuty" placeholder="是否在职">
                                        <option selected>--请选择--</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputCompany"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">所属公司</font></font></label>
                                    <select class="form-control" name="exampleInputCompany" id="exampleInputCompany" placeholder="所属公司">
                                        <option selected>--请选择--</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary mr-2" onclick="goSummit()"><font style="vertical-align: inherit;" onclick="goSummit()"><font style="vertical-align: inherit;">提交</font></font></button>
                                <a href="/user/index"><button type="button" class="btn btn-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>

            $(function () {
                Validate.validateForm("user_form");

                $.ajax({
                    url: "/login/getToken",
                    async: true,
                    success: function (data) {
                        $("#tokenName").text(data);
                    }
                })
            });

            function goSummit() {
                if ($("#exampleInputUsername").val() && $("#exampleInputPassword").val() && $("#exampleInputName").val() && $("#exampleInputSEX").val() && $("#exampleInputEDU").val() && $("#exampleInputDuty").val()) {
                    $.ajax({
                        url: "/user/add",
                        type: 'post',
                        data: JSON.stringify({
                            username: $("#exampleInputUsername").val(),
                            password: $("#exampleInputPassword").val(),
                            name: $("#exampleInputName").val(),
                            sex: $("#exampleInputSEX").val(),
                            edu: $("#exampleInputEDU").val(),
                            duty: $("#exampleInputDuty").val(),
                            company: $("#exampleInputCompany").val()
                        }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log(data)
                            if (data.code == 0) {
                                location.href = "/user/index";
                            } else {
                                bootbox.alert({
                                    size: "small",
                                    title: "错误信息",
                                    message: data.message,
                                    callback: function () {

                                    }
                                })
                            }
                        }
                    })
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "错误信息",
                        message: "参数不能为空",
                        callback: function () {

                        }
                    })
                }
            }

            var Validate = function () {
                var handlerValidate = function (formId, rules) {
                    $("#" + formId).validate({
                        errorElement: 'span',
                        errorClass: 'errorInfo',
                        errorPlacement: function (error, element) {
                            element.parent().parent().attr("class", "form-group has-error");
                            error.insertAfter(element);
                        },
                        rules: {
                            exampleInputUsername: {
                                required: true
                            },
                            exampleInputPassword: {
                                required: true
                            },
                            exampleInputConfirmPassword: {
                                required: true,
                                equalTo: "#exampleInputPassword"
                            },
                            exampleInputName: {
                                required: true
                            },
                            exampleInputSEX: {
                                required: true
                            },
                            exampleInputEDU: {
                                required: true
                            },
                            exampleInputDuty: {
                                required: true
                            },
                            exampleInputCompany: {
                                required: true
                            }
                        }
                    });
                };

                return {
                    validateForm: function (formId, rules) {
                        handlerValidate(formId, rules);
                    }
                }
            }();
        </script>
    </body>
</html>
