<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>分数审批</title>
    <link rel="shortcut icon" href="../static/images/favicon.png"/>
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/jquery.dataTables.js"></script>
    <script src="../static/vendors/base/vendor.bundle.base.js"></script>
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/template.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/base-modal.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/bootbox.all.min.js"></script>
</head>

<body>
<div class="container-scroller">
    <div id="top"></div>
    <div class="container-fluid page-body-wrapper">
        <div id="side"></div>
        <script>
            $("#top").load("../common/top.html");
            $("#side").load("../common/side.html");
        </script>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">分数审批</h4>
                                <div class="table-responsive pt-3">
                                    <table class="table" id="_table">
                                        <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>分数</th>
                                            <th>加分/减分</th>
                                            <th>审核者</th>
                                            <th>审批</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="init-tr" th:each="scoredetails ,Stat: ${scoredetails}" th:data-id="${scoredetails.identifier}">
                                            <td th:text="${userername[Stat.index]}" ></td>
                                            <td th:text="${scoredetails.score}"></td>
                                            <td th:text="${scoredetails.addReduce}"></td>
                                            <td th:text="${registername[Stat.index]}"></td>

                                            <td>
                                                <a href="javascript:void(0)" onclick="scorePass(this)">
                                                    <button class="btn btn-outline-primary btn-fw">通过</button>
                                                </a>
                                                <a href="javascript:void(0)" onclick="scoreFail(this)">
                                                    <button class="btn btn-outline-primary btn-fw" data-toggle="modal" data-target="#myModal">不通过</button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title" id="myModalLabel">添加权限</h4>-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--<input hidden="hidden" value="" id="userId">-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<table class="table" id="pt-tree">-->
<!--</table>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
<!--<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="goSubmit()">提交</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<script type="text/javascript">
    function scorePass(obj) {
        var id = $(obj).closest('tr').attr("data-id");
        $.ajax({
            url: "/scores/approval",
            data: JSON.stringify({
                id: id,
                approval: "success"
            }),
            async: false,
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            success: function (data) {
                if (data.code == 0) {
                    location.reload();
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "错误信息",
                        message: data.message,
                        callback: function () {

                        }
                    })
                }
            }
        })
    }

    function scoreFail(obj) {
        var id = $(obj).closest('tr').attr("data-id");
        $.ajax({
            url: "/scores/approval",
            data: JSON.stringify({
                id: id,
                approval: "fail"
            }),
            async: false,
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            success: function (data) {
                if (data.code == 0) {
                    location.reload();
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "错误信息",
                        message: data.message,
                        callback: function () {

                        }
                    })
                }
            }
        })
    }

</script>

</body>
</html>
