<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.Company">
    <id column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="telephone" jdbcType="INTEGER" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    companyid, contact, telephone
  </sql>
</mapper>