<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.Company">
    <id column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="telephone" jdbcType="INTEGER" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    companyid, contact, telephone, name, USCC, address, registered, business
  </sql>

  <select id="queryList" resultType="com.graduation.demo.common.entity.Company">
    SELECT
    <include refid="Base_Column_List" />
    FROM gd_company
  </select>

  <select id="queryCompanyById" resultType="com.graduation.demo.common.entity.Company">
    SELECT
    <include refid="Base_Column_List" />
    FROM gd_company
    WHERE companyid=#{id}
  </select>

  <insert id="addCompany" parameterType="com.graduation.demo.common.entity.Company">
    INSERT INTO gd_company(companyid, contact, telephone, name, USCC, address, registered, business)
    VALUES (#{companyid}, #{contact}, #{telephone})
  </insert>

  <delete id="deleteCompanyById">
    DELETE FROM gd_company WHERE companyid=#{id}
  </delete>

  <update id="updateCompanyById" parameterType="com.graduation.demo.common.entity.Company">
    UPDATE gd_company SET companyid=#{companyid},contact=#{contact},telephone=#{telephone},name=#{name},USCC=#{USCC},address=#{address},registered=#{registered},business=#{business}
    WHERE companyid=#{companyid}
  </update>
</mapper>