<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.ParamMapper">
  <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.Param">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="VAL" jdbcType="VARCHAR" property="val" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, KEY, VAL, STATE, CREATEBY, CREATETIME, UPDATEBY, UPDATETIME
  </sql>
</mapper>