<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.Role">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="CANDELETE" jdbcType="VARCHAR" property="candelete" />
    <result column="CANVIEW" jdbcType="VARCHAR" property="canview" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, KEY, CANDELETE, CANVIEW, STATE, CREATEBY, UPDATEBY, CREATETIME, UPDATETIME
  </sql>
</mapper>