<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.ScoreDetailsMapper">
    <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.ScoreDetails">
        <id column="identifier" jdbcType="INTEGER" property="identifier"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="addReduce" jdbcType="INTEGER" property="addReduce"/>
        <result column="score" jdbcType="DOUBLE" property="score"/>
        <result column="checkerid" jdbcType="VARCHAR" property="checkerid"/>
        <result column="registrarid" jdbcType="VARCHAR" property="registrarid"/>
        <result column="plead" jdbcType="INTEGER" property="plead"/>
        <result column="checkerid2" jdbcType="VARCHAR" property="checkerid2"/>
        <result column="approvalid" jdbcType="VARCHAR" property="approvalid"/>
    </resultMap>
    <sql id="Base_Column_List">
    identifier, userid, addReduce, score, checkerid, registrarid, plead, checkerid2,
    approvalid
  </sql>

    <select id="queryList" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gd_score_details
    </select>

    <select id="selectScoreDetailsById" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gd_score_details
        WHERE USERID=#{userId}
    </select>

    <insert id="addScoreDetails" parameterType="com.graduation.demo.common.entity.ScoreDetails">
    INSERT INTO gd_score_details(userid, addReduce, score, registrarid)
    VALUES (#{userid}, #{addReduce}, #{score}, #{registrarid})
  </insert>

    <delete id="deleteScoreDetailsById">
    DELETE FROM gd_score_details WHERE identifier=#{identifier}
  </delete>

    <update id="updateScoreDetailsById" parameterType="com.graduation.demo.common.entity.ScoreDetails">
    UPDATE gd_score_details SET userid=#{userid},addReduce=#{addReduce}, score=#{score},
    checkerid=#{checkerid}, registrarid=#{registrarid}, plead = #{plead}, checkerid2=#{checkerid2},
    approvalid=#{approvalid}
    WHERE identifier= #{identifier}
  </update>

    <select id="selectScoreByNullCheckerId" resultType="com.graduation.demo.common.entity.ScoreDetails">
      SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
      WHERE checkerid IS NULL
  </select>

    <select id="selectScoreByScore10" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
        WHERE score >= 10 and checkerid is not null and checkerid != '0' and approvalid is null
    </select>

    <select id="selectScoreByPlead" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
        WHERE plead = 1 and checkerid2 is null
    </select>

    <select id="queryScoreDetailsById" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
        WHERE identifier = #{identifier}
    </select>

    <select id="queryScoreDetailsByUserId" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
        WHERE userid = #{userid}
    </select>

    <select id="selectScoreByUserid" resultType="com.graduation.demo.common.entity.ScoreDetails">
        SELECT
        <include refid="Base_Column_List" />
        FROM gd_score_details
        WHERE checkerid is not null and checkerid != '0'  and ((approvalid is not null and approvalid != '0') or (score <![CDATA[ < ]]> 10)) and plead is null
    </select>
</mapper>