<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.graduation.demo.common.entity.User">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CANDELETE" jdbcType="VARCHAR" property="candelete" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="EDU" jdbcType="VARCHAR" property="edu" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="MARK" jdbcType="VARCHAR" property="mark" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, ACCOUNT, PASSWORD, CANDELETE, SEX, EDU, DUTY, MARK, CREATEBY, UPDATEBY, 
    CREATETIME, UPDATETIME, STATE
  </sql>

  <select id="queryList" resultType="com.graduation.demo.common.entity.User">
    select
    <include refid="Base_Column_List" />
     from gd_user
     where STATE = 'PUB'
     order by CREATETIME desc
  </select>

</mapper>